// AbOUT SECTION

.aboutSection {
  display: flex;
  padding-top: 50px;
}

.ownImage {
  width: calc(40% - 50px);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ownImage img {
  box-shadow: 15px 15px #e5e5e5;
}

.content {
  width: calc(60% - 50px);
  margin-left: 50px;
}

.content h3 {
  margin-bottom: 18px;
  @include h3Heading();
}

.content p {
  @include para();
  line-height: 2.2;
}
