* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  color: $blackColor;
  letter-spacing: 1px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

section {
  padding: 100px 0;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}
