@media (max-width: 1015px) {
  h1 {
    font-size: 75px;
  }
}
@media (max-width: 926px) and (orientation: landscape) {
  header::before {
    display: none;
    width: 0;
    height: 0;
    background: none;
  }
}

@media (max-width: 931px) {
  .skillsSet i {
    font-size: 55px;
  }

  .contactInformation ul {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .skillsSet i {
    font-size: 40px;
  }
}

@media (max-width: 880px) {
  .aboutSection {
    flex-direction: column;
  }

  .content {
    order: -1;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .ownImage {
    margin: 50px auto 0px auto;
  }

  .project {
    flex-direction: column;
    text-align: center;
  }

  .projectImage {
    order: -1;
    margin-left: 0;
    margin: 0 auto;
  }

  .mobile {
    top: 110px;
  }

  .projectContent {
    width: 100%;
    margin-right: 0;
    padding-top: 50px;
  }

  .linkButton {
    margin: 0 auto;
  }

  .projectTwo .projectImage {
    margin: 0 auto;
  }

  .projectTwo .projectContent {
    margin-left: 0;
  }

  .mainFormContainer {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .contactInformation {
    order: -1;
    width: 100%;
    margin-left: 0;
    padding-top: 50px;
  }

  .mainFormContainer form {
    width: 80%;
    margin: 50px auto 0 auto;
  }
}

@media (max-width: 775px) {
  nav ul {
    position: fixed;
    left: 100%;
    flex-direction: column;
    background-color: $blackColor;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    opacity: 0.9;
    padding-left: 0;
    border: 2px solid $commonFontColor;
  }

  nav ul.active {
    left: 0;
    top: 0;
  }

  nav ul li {
    margin: 25px auto;
    width: 85%;
  }

  nav ul li:hover,
  nav ul li:focus {
    border-bottom: 2px solid $commonFontColor;
    opacity: 0.8;
  }

  nav li a {
    color: $commonFontColor;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 735px) {
  .skillsSet li {
    margin: 40px 0;
  }
  .skillsSet i {
    font-size: 30px;
    padding: 18px;
  }

  .responsive i {
    padding: 18px 25px;
  }
}

@media (max-width: 630px) {
  h1 {
    font-size: 65px;
  }
  .ownImage {
    width: 50%;
  }

  .skillsSet li {
    width: calc(100% / 4);
    margin: 40px auto;
  }

  .projectImage {
    width: 70%;
  }

  .footerSection ul {
    width: 40%;
  }
}

@media (max-width: 517px) {
  header::before {
    display: none;
    width: 0;
    height: 0;
    background: none;
  }
  .skillsSet li {
    width: calc(100% / 3);
    margin: 40px auto;
  }
}

@media (max-width: 450px) {
  .mobile {
    top: 85px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 55px;
  }
}
