@mixin header() {
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-size: 85px;
  margin-top: 10px;
  line-height: 1.1;
  color: $commonFontColor;
}

@mixin sectionHeading() {
  font-family: $secondaryFontFamily;
  font-weight: 600;
  font-size: 45px;
  color: $blackColor;
  text-align: center;
}

@mixin h3Heading() {
  font-size: 24px;
  font-weight: 700;
  color: $blackColor;
}

@mixin para() {
  font-family: $secondaryFontFamily;
  font-weight: 400;
  font-size: 16px;
}

@mixin navigation() {
  font-family: $secondaryFontFamily;
  font-weight: 400;
  font-size: 12px;
  color: $commonFontColor;
}

@mixin logo() {
  font-family: "MonteCarlo", cursive;
  font-style: italic;
  font-size: 25px;
  color: $commonFontColor;
}

@mixin button() {
  font-family: $secondaryFontFamily;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  background: $secondaryColor;
  background: $secondaryGradient;
}
