// Logo

.navContainer {
  position: fixed;
  // width: 100%;
  background: $blackColor;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav {
  // background: $blackColor;
  // position: relative;
  padding: 15px 0;
  margin: 0 auto;
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

// .navContainer {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   // padding: 5px 0;
// }

.logo a {
  @include logo();
  transform: rotate(-50deg);
  line-height: 1.1;
  padding-top: 2px;
  // color: red;
}

.logo {
  border: 2px solid $commonFontColor;
  transform: rotate(50deg);
  width: 35px;
  height: 35px;
  // position: absolute;
  // top: 15px;
  // left: 130px;
}

nav ul {
  @include navigation();
  // display: flex;
  // justify-content: end;
  // align-items: center;
}

nav li {
  margin: 0 10px;
  cursor: pointer;
}

nav li:hover,
nav li:focus,
nav li:active {
  border-bottom: 2px solid $commonFontColor;
}

nav li a {
  color: $commonFontColor;
  //   padding-bottom: 10px;
}
