// SKILLS SECTION

.skills {
  background: $secondaryColor;
  background: $secondaryGradient;
  position: relative;
}

.skills::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 92% 102%;
  height: 155px;
  background-color: $secondaryColor;
  right: 0px;
  bottom: -80px;
}

.skillsSection {
  padding-top: 50px;
}

.skillsSection h2 {
  @include sectionHeading();
  position: relative;
}

.skillsSection h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 92px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.skillsSection h2::before {
  content: "/ / /";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.skillsSet ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: $commonFontColor;
  border-radius: 40px;
  border: 1px solid $primaryColor;
  box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  // color: $blackColor;
}

.skillsSet li {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 70px 0;
}

.skillsSet i {
  font-size: 80px;
  // background: $commonFontColor;
  background: $secondaryColor;
  background: $innerGradient;
  color: #111;
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}

.responsive i {
  padding: 30px 45px;
}

// .skillsSet i:hover,
// .skillsSet i:focus,
// .skillsSet i:active {

// }

.skillsSet h3 {
  font-size: 18px;
  font-weight: 500;
  color: #111;
  font-family: $secondaryFontFamily;
  padding-top: 20px;
}
