$headerFontFamily: "Poppins", sans-serif;
$secondaryFontFamily: "Montserrat", sans-serif;
$primaryColor: #757575;
$commonFontColor: #efefef;
// $secondaryColor: #eaeaea;
$secondaryColor: rgb(255, 255, 255);
$secondaryGradient: radial-gradient(
  circle,
  rgba(255, 255, 255, 1) 0%,
  rgba(0, 27, 67, 0.7633928571428572) 96%
);
$innerGradient: radial-gradient(
  circle,
  rgba(255, 255, 255, 1) 58%,
  rgba(0, 27, 67, 0.3180147058823529) 100%
);
$blackColor: #001830;
// $blackColor: #111;

// $blackColor: #f9a828;
// $blackColor: #fab300;
